{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    ["./src/server/babelRelayPlugin", {}],
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": ["react"]
    }
  }
}
