logs
*.log
npm-debug.log*
pids
*.pid
*.seed
node_modules

/packages/*/coverage
/packages/*/.nyc_output
/packages/*/.nyc_tmp

# Project-specific


# GIT-specific
# ------------
# All projects
/packages/*/lib

# Project-specific
/public/assets
/public/ssr
