/* ============================================== */
/* General */
/* ============================================== */
.mady-translator {
  font-size: 0.8rem;
  --color-dim-text: #bbbbbb;
  --color-accent-bg: rgb(220, 220, 220);
  --color-accent-fg: black;
  line-height: 1.2;
}

.mady-translator a {
  color: inherit;
  text-decoration: none;
}

.mady-translator a:hover {
  text-decoration: underline;
}

.mady-sep {
  flex: 1;
}

.mady-translator.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ============================================== */
/* Toolbar */
/* ============================================== */
.mady-toolbar {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 5px 12px;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 5px;
}

.mady-toolbar-button + .mady-toolbar-button,
.mady-toolbar-button + .mady-filter-value {
  margin-left: 0.8em;
}

.mady-translator.parsing .mady-parse {
  animation: fa-spin 2s infinite linear;
  pointer-events: none;
}

.mady-toolbar-title {
  letter-spacing: 3px;
}

/* ============================================== */
/* Translation table */
/* ============================================== */
.mady-translator.full-height .mady-translation-table {
  flex: 1 0 30px;
  overflow: hidden;
}

.mady-translator .giu-data-table-header {
  padding: 5px 0;
}

.mady-translator .giu-virtual-scroller {
  margin: 0;
  padding: 0 0;
}

.mady-translator .giu-data-table-row {
  margin: 0;
  padding: 0 0;
  align-items: stretch;
}

.mady-translator .giu-data-table-header-cell {
  font-weight: 900;
}

.mady-translation-table
  .giu-data-table-cell:not(.giu-data-table-col-__SORT_MANUALLY__)
  + .giu-data-table-cell {
  margin-left: 5px;
}

/* ============================================== */
/* Table header */
/* ============================================== */
.mady-lang-header {
  display: flex;
  justify-content: space-between;
}

.mady-stats {
  margin-left: 0.4em;
  color: var(--color-dim-text);
}
.mady-stats::before {
  content: '[';
}
.mady-stats::after {
  content: ']';
}

/* ============================================== */
/* Table row */
/* ============================================== */
.mady-context-cell.unused,
.mady-key-cell.unused,
.mady-translation-cell.unused {
  color: var(--color-dim-text);
}

.mady-seq-starts:not(.mady-is-first-key) {
  border-top: 1px solid #ccc;
}

/* ============================================== */
/* Context col */
/* ============================================== */
.mady-translator .giu-data-table-col-context {
  flex: 0 0 150px;
}

.mady-context-cell {
  padding: 3px 0;
}

.mady-context-text {
  font-weight: 900;
  margin-right: 1em;
  white-space: pre-wrap;
  word-break: break-word;
}

.mady-context-cell:not(.mady-seq-starts) .mady-context-text {
  display: none;
}

/* ============================================== */
/* Key col */
/* ============================================== */
.mady-key-cell {
  padding: 3px 5px 3px 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: transparent;
}

.mady-key-buttons {
  margin-left: 5px;
  opacity: 0;
}
.mady-key-cell:hover .mady-key-buttons {
  opacity: 1;
}

.mady-key-cell.unused {
  border-left-color: var(--color-dim-text);
}
.mady-translator .giu-data-table-row:hover .mady-key-cell.unused {
  background-color: #bbbbbb20;
}

.mady-key-cell.untranslated {
  border-left-color: var(--color-notif-error-bg);
}
.mady-translator .giu-data-table-row:hover .mady-key-cell.untranslated {
  background-color: #bd362f20;
}

.mady-key-cell.fuzzy {
  border-left-color: var(--color-notif-warn-bg);
}
.mady-translator .giu-data-table-row:hover .mady-key-cell.fuzzy {
  background-color: #f8940620;
}

.mady-key-cell.translated {
  border-left-color: var(--color-notif-success-bg);
}
.mady-translator .giu-data-table-row:hover .mady-key-cell.translated {
  background-color: #51a35120;
}

.mady-key-text {
  white-space: pre-wrap;
  word-break: break-word;
}

/* ============================================== */
/* Translation col */
/* ============================================== */
.mady-translation-cell {
  padding: 3px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.mady-add-column .giu-drop-down-menu-title {
  padding: 0;
  background-color: inherit;
}

.giu-float-mady-add-column,
.giu-float-error-mady-translation {
  font-size: 0.8rem;
  --color-accent-bg: rgb(220, 220, 220);
  --color-accent-fg: black;
  line-height: 1.2;
}

.giu-float-error-mady-translation .giu-error {
  max-width: 200px;
}

.mady-remove-column {
  margin-left: 0.8em;
}

.mady-translation-text {
  position: relative;
  flex: 1;
  white-space: pre-wrap;
  word-break: break-word;
}

.mady-translation-text .giu-textarea-field {
  display: block;
  padding: 0px 1px;
  border: 1px solid transparent;
  background-color: transparent;
  min-height: 17px;
}

.mady-translation-help {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: #999;
  color: white;
  padding: 2px 4px;
  display: none;
}
.mady-translation-help.shown {
  display: block;
}

.mady-translation-buttons {
  margin-left: 5px;
}
.mady-translation-button.on-hover {
  opacity: 0;
}
.mady-translation-cell:hover .mady-translation-button.on-hover {
  opacity: 1;
}

.mady-translation-button + .mady-translation-button {
  margin-left: 5px;
}
.mady-translation-button.mady-delete-translation + .mady-translation-button {
  margin-left: 12px;
}

.mady-fuzzy.fuzzy {
  opacity: 1 !important;
  color: var(--color-notif-warn-bg);
}
