<!doctype html>
<html>
  <head>
    <title>Mady</title>
    <link rel='icon' type='image/ico' href='/favicon.ico'>
    <style id='preRenderedStyles'>
      <%- ssrCss %>
    </style>
  </head>
  <body>
    <div id="mady-app"><%- ssrHtml %></div>
    <script>
      window.AppBootstrap = <%- jsonData %>;
      window.module = {};
      // Bootstrapped locales START -------
      <%- fnLocales %>
      // Bootstrapped locales END -------
      window.AppBootstrap.locales = window.module.exports;
      delete window.module;
    </script>
    <script src='/assets/app.bundle.js'></script>
  </body>
</html>
